<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加学生</title>
</head>
<body>
<form action="#" th:action="@{/student/save}" th:object="${student}" method="post">
    <table border="1">
        <tr>
            <td>ID</td>
            <td><input type="number" th:field="*{id}"/></td>
            <td th:if="${#fields.errors('id')}" th:errors="*{id}">id校验信息</td>
        </tr>
        <tr>
            <td>姓名</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name校验信息</td>
        </tr>
        <tr>
            <td><input type="submit" value="提交"/></td>
        </tr>
    </table>
    <h1 th:if="${#fields.hasErrors()}">发生错误</h1>
    <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
    </ul>
    <ul>
        <li th:each="err : ${#fields.errors('all')}" th:text="${err}"/>
    </ul>
    <ul>
        <li th:each="err : ${#fields.errors('global')}" th:text="${err}" />
    </ul>
</form>
</body>
</html>